Repository jsamr/react-native-li: changes, and which Codecov flags are due for each by the changed paths.
All: counter-style, react-native-li

codecov.yml:

coverage:
  precision: 2
  round: down
  range: '80...100'
  status:
    project:
      default:
        target: auto
      counter-style:
        target: auto
        flags:
          - counter-style
      react-native-li:
        target: auto
        flags:
          - react-native-li

flags:
  counter-style:
    paths:
      - packages/counter-style/
  react-native-li:
    paths:
      - packages/react-native-li/

feat(react-native-li): add `markerTextStyle` and `markerBoxStyle` props
  packages/react-native-li/src/MarkedListItem.tsx
  packages/react-native-li/src/MarkerBox.tsx
  packages/react-native-li/src/shared-types.ts
  packages/react-native-li/src/useMarkedList.ts
Due: react-native-li

chore: release @jsamr/react-native-li@2.0.0-alpha.0
  packages/react-native-li/CHANGELOG.md
  packages/react-native-li/package.json
Due: react-native-li

feat(react-native-li): add `rtlMarkerReversed` prop to `MarkerBox`
  packages/react-native-li/docs/react-native-li.markedlistitem.md
  packages/react-native-li/docs/react-native-li.markedlistitemprops.md
  packages/react-native-li/docs/react-native-li.markerboxprops.md
  packages/react-native-li/docs/react-native-li.markerboxprops.rtlmarkerreversed.md
  packages/react-native-li/docs/react-native-li.md
  packages/react-native-li/etc/react-native-li.api.md
  packages/react-native-li/src/MarkedListItem.tsx
  packages/react-native-li/src/shared-types.ts
  packages/react-native-li/src/useMarkedList.ts
Due: react-native-li

chore: release @jsamr/react-native-li@2.0.0
  packages/react-native-li/CHANGELOG.md
  packages/react-native-li/package.json
Due: react-native-li

docs(react-native-li): edit CHANGELOG
  packages/react-native-li/CHANGELOG.md
Due: react-native-li

docs(react-native-li): fix snippet overflow
  packages/react-native-li/README.md
Due: react-native-li

docs(counter-style): add hebrew comments
  packages/counter-style/src/presets/hebrew.ts
Due: counter-style

feat(react-native-li): new `Container` prop
  packages/react-native-li/docs/react-native-li.markedlist.md
  packages/react-native-li/docs/react-native-li.markedlistprops.container.md
  packages/react-native-li/docs/react-native-li.markedlistprops.md
  packages/react-native-li/docs/react-native-li.md
  packages/react-native-li/etc/react-native-li.api.md
  packages/react-native-li/src/MarkedList.tsx
  packages/react-native-li/src/shared-types.ts
Due: react-native-li

chore: release @jsamr/react-native-li@2.1.0
  packages/react-native-li/CHANGELOG.md
  packages/react-native-li/package.json
Due: react-native-li

refactor(counter-style): use non-breaking spaces in prefixes
  packages/counter-style/README.md
  packages/counter-style/src/__tests__/CounterStyleRenderer.test.ts
  packages/counter-style/src/constants.ts
Due: counter-style

feat(react-native-li): new `dynamicMarkerBoxWidth` prop
  packages/react-native-li/src/MarkedListItem.tsx
  packages/react-native-li/src/MarkerBox.tsx
  packages/react-native-li/src/shared-types.ts
  packages/react-native-li/src/useMarkedList.ts
Due: react-native-li

docs: bump fresh docs
  packages/react-native-li/docs/react-native-li.markedlistitemprops.md
  packages/react-native-li/docs/react-native-li.markedlistprops.computemarkerboxwidth.md
  packages/react-native-li/docs/react-native-li.markedlistprops.dynamicmarkerboxwidth.md
  packages/react-native-li/docs/react-native-li.markedlistprops.markerboxstyle.md
  packages/react-native-li/docs/react-native-li.markedlistprops.md
  packages/react-native-li/docs/react-native-li.markerboxprops.markertextwidth.md
  packages/react-native-li/docs/react-native-li.markerboxprops.md
  packages/react-native-li/docs/react-native-li.md
  packages/react-native-li/docs/react-native-li.usemarkedlist.md
  packages/react-native-li/etc/react-native-li.api.md
Due: react-native-li

refactor(counter-style): replace spaces with non-breaking in presets
  packages/counter-style/docs/counter-style.counterstylerenderer.withpadleft.md
  packages/counter-style/docs/counter-style.counterstylerenderer.withpadright.md
  packages/counter-style/src/presets/circle.ts
  packages/counter-style/src/presets/disc.ts
  packages/counter-style/src/presets/square.ts
  packages/counter-style/src/public-types.ts
Due: counter-style

tests(react-native-li): update tests to pass next counter-style
  packages/react-native-li/src/__tests__/MarkedList.test.tsx
Due: react-native-li

chore: release @jsamr/counter-style@2.0.1
  packages/counter-style/CHANGELOG.md
  packages/counter-style/package.json
Due: counter-style

chore: release @jsamr/react-native-li@2.2.0
  packages/react-native-li/CHANGELOG.md
  packages/react-native-li/package.json
Due: react-native-li

fix(react-native-li): align text marker at the end of the marker box
  packages/react-native-li/src/useMarkedList.ts
Due: react-native-li

chore: release @jsamr/react-native-li@2.2.1
  packages/react-native-li/CHANGELOG.md
  packages/react-native-li/package.json
Due: react-native-li

docs(counter-style): better documentation
  packages/counter-style/src/public-types.ts
Due: counter-style

feat: new `clipMarkerText` prop to prevent text wrapping
  packages/react-native-li/src/MarkedListItem.tsx
  packages/react-native-li/src/MarkerBox.tsx
  packages/react-native-li/src/shared-types.ts
  packages/react-native-li/src/useMarkedList.ts
Due: react-native-li

chore: release @jsamr/react-native-li@2.3.0
  packages/react-native-li/CHANGELOG.md
  packages/react-native-li/package.json
Due: react-native-li

docs: fix assertions snippet
  packages/counter-style/README.md
Due: counter-style

docs: sync generated documentation
  packages/counter-style/docs/counter-style.rtloptions.md
  packages/counter-style/docs/counter-style.rtloptions.reversecounter.md
  packages/counter-style/docs/counter-style.rtloptions.reverseprefix.md
  packages/counter-style/docs/counter-style.rtloptions.reversesuffix.md
  packages/counter-style/etc/counter-style.api.md
  packages/react-native-li/docs/react-native-li.markedlistitem.md
  packages/react-native-li/docs/react-native-li.markedlistitemprops.md
  packages/react-native-li/docs/react-native-li.markedlistprops.enablemarkerclipping.md
  packages/react-native-li/docs/react-native-li.markedlistprops.md
  packages/react-native-li/docs/react-native-li.markerbox.md
  packages/react-native-li/docs/react-native-li.markerboxprops.enablemarkerclipping.md
  packages/react-native-li/docs/react-native-li.markerboxprops.md
  packages/react-native-li/docs/react-native-li.markerboxprops.rtlmarkerreversed.md
  packages/react-native-li/docs/react-native-li.md
  packages/react-native-li/docs/react-native-li.usemarkedlist.md
  packages/react-native-li/etc/react-native-li.api.md
Due: counter-style, react-native-li

chore: fix wrong respository.directory in package.json
  packages/counter-style/package.json
Due: counter-style

chore: release @jsamr/counter-style@2.0.2
  packages/counter-style/CHANGELOG.md
  packages/counter-style/package.json
Due: counter-style

chore: release @jsamr/react-native-li@2.3.1
  packages/react-native-li/CHANGELOG.md
  packages/react-native-li/package.json
Due: react-native-li

perf: support chinese counter
  packages/counter-style/README.md
  packages/counter-style/src/__tests__/chinese.test.ts
  packages/counter-style/src/presets/chinese.ts
Due: counter-style

perf: enlarge the range to the range of integer
  packages/counter-style/src/__tests__/chinese.test.ts
  packages/counter-style/src/presets/chinese.ts
Due: counter-style

perf: support chinese counter (#1)
  packages/counter-style/README.md
  packages/counter-style/src/__tests__/chinese.test.ts
  packages/counter-style/src/presets/chinese.ts
Due: counter-style
