Repository jsamr/react-native-li: changes, and which Codecov flags are due for each by the changed paths.
All: counter-style, react-native-li

chore(counter-style): add size limits
  packages/counter-style/README.md
  packages/counter-style/package.json
  packages/counter-style/scripts/generatePresets.js
  packages/counter-style/tsconfig.build-cjs.json
  yarn.lock
Due: counter-style

docs: add disclaimer regarding unicode graphemes clusters
  packages/counter-style/README.md
  packages/counter-style/docs/counter-style.counterstylerenderer.getmaxleninrange.md
  packages/counter-style/src/CounterStyle.ts
Due: counter-style

chore(demo): wip demo
  demo/App.js
  demo/App.tsx
  demo/package.json
  demo/tsconfig.json
  yarn.lock
Due: none

feat: export all presets in barrel module
  packages/counter-style/MAINTAINING.md
  packages/counter-style/package.json
  packages/counter-style/scripts/generatePresets.js
  packages/counter-style/scripts/generatePresetsIndex.js
  packages/counter-style/scripts/utils.js
  packages/counter-style/src/presets/index.ts
Due: counter-style

docs(counter-style): add lower-russian example
  packages/counter-style/README.md
Due: counter-style

feat: wip react-native-li
  MAINTAINING.md
  demo/App.tsx
  demo/package.json
  packages/example-path/CHANGELOG.md
  packages/react-native-li/.eslintignore
  packages/react-native-li/.gitignore
  packages/react-native-li/.release-it.js
  packages/react-native-li/CHANGELOG.md
  packages/react-native-li/README.md
  packages/react-native-li/api-extractor.json
  packages/react-native-li/babel.config.js
  packages/react-native-li/docs/index.md
  packages/react-native-li/docs/react-native-li.markerlist.md
  packages/react-native-li/docs/react-native-li.md
  packages/react-native-li/etc/.gitignore
  packages/react-native-li/etc/react-native-li.api.md
  packages/react-native-li/jest.config.js
  packages/react-native-li/package.json
  packages/react-native-li/src/Marker.tsx
  packages/react-native-li/src/MarkerList.tsx
  packages/react-native-li/src/MarkerListLine.tsx
  packages/react-native-li/src/__tests__/dummy.test.ts
  packages/react-native-li/src/index.ts
  packages/react-native-li/src/shared-types.ts
  packages/react-native-li/src/useMarkerList.ts
  packages/react-native-li/tsconfig.build.json
  packages/react-native-li/tsconfig.json
  yarn.lock
Due: react-native-li

feat(counter-style): export all presets in barrel module
  packages/counter-style/MAINTAINING.md
  packages/counter-style/package.json
  packages/counter-style/scripts/generatePresets.js
  packages/counter-style/scripts/generatePresetsIndex.js
  packages/counter-style/scripts/utils.js
  packages/counter-style/src/presets/index.ts
Due: counter-style

feat(counter-style): support RTL rendering
  packages/counter-style/docs/counter-style.counterstylerenderer.md
  packages/counter-style/docs/counter-style.counterstylerenderer.withmaxlengthcomputer.md
  packages/counter-style/docs/counter-style.counterstylerenderer.withprefix.md
  packages/counter-style/docs/counter-style.counterstylerenderer.withrtl.md
  packages/counter-style/docs/counter-style.counterstylerenderer.withsuffix.md
  packages/counter-style/docs/counter-style.md
  packages/counter-style/docs/counter-style.rtloptions.md
  packages/counter-style/docs/counter-style.rtloptions.reversecounter.md
  packages/counter-style/docs/counter-style.rtloptions.reverseprefix.md
  packages/counter-style/docs/counter-style.rtloptions.reversesuffix.md
  packages/counter-style/etc/counter-style.api.md
  packages/counter-style/src/CounterStyle.ts
  packages/counter-style/src/__tests__/CounterStyle.test.ts
  packages/counter-style/src/__tests__/CounterStyle.test.tsx
  packages/counter-style/src/__tests__/CounterStyleRenderer.test.ts
Due: counter-style

docs(counter-style): add W3 grapheme cluster link
  packages/counter-style/README.md
  packages/counter-style/src/CounterStyle.ts
Due: counter-style

feat(counter-style): be strict with UTF-16 support
  packages/counter-style/README.md
  packages/counter-style/docs/counter-style.counterstylerenderer.md
  packages/counter-style/docs/counter-style.counterstylerenderer.withmaxlengthcomputer.md
  packages/counter-style/docs/counter-style.counterstylestatic.md
  packages/counter-style/docs/counter-style.counterstylestatic.raw.md
  packages/counter-style/docs/counter-style.maxcodepointlengthinrangecomputer.md
  packages/counter-style/docs/counter-style.maxlengthinrangecomputer.md
  packages/counter-style/docs/counter-style.md
  packages/counter-style/etc/counter-style.api.md
  packages/counter-style/package.json
  packages/counter-style/src/CounterStyle.ts
  packages/counter-style/src/__tests__/CounterStyle.test.ts
  packages/counter-style/src/__tests__/CounterStyleRenderer.test.ts
  packages/counter-style/src/__tests__/japaneseFormal.test.ts
  packages/counter-style/src/getAlphanumFromUnicodeRange.ts
  packages/counter-style/tsconfig.json
Due: counter-style

feat(counter-style): separation between marker string and counter repr.
  packages/counter-style/README.md
  packages/counter-style/docs/counter-style.basecounterstylerenderer.maxcounterleninrange.md
  packages/counter-style/docs/counter-style.basecounterstylerenderer.maxmarkerleninrange.md
  packages/counter-style/docs/counter-style.basecounterstylerenderer.md
  packages/counter-style/docs/counter-style.basecounterstylerenderer.rendercounter.md
  packages/counter-style/docs/counter-style.basecounterstylerenderer.rendermarker.md
  packages/counter-style/docs/counter-style.counterstylerenderer.getmaxleninrange.md
  packages/counter-style/docs/counter-style.counterstylerenderer.md
  packages/counter-style/docs/counter-style.counterstylerenderer.render.md
  packages/counter-style/docs/counter-style.counterstylerenderer.withfallback.md
  packages/counter-style/docs/counter-style.counterstylerenderer.withrange.md
  packages/counter-style/docs/counter-style.md
  packages/counter-style/etc/counter-style.api.md
  packages/counter-style/src/CounterStyle.ts
  packages/counter-style/src/__tests__/CounterStyle.test.tsx
  packages/counter-style/src/__tests__/arabicIndic.test.ts
  packages/counter-style/src/__tests__/japaneseFormal.test.ts
  packages/counter-style/src/__tests__/lowerAlpha.test.ts
Due: counter-style

chore(demo): react-native-li snippet
  demo/App.tsx
Due: none

chore: sync yarn.lock
  yarn.lock
Due: none

ci: add build step
  .github/workflows/react-native-li.yml
Due: none

chore: add root README.md
  README.md
Due: none

chore: fix release-it patch
  patches/release-it.patch
  yarn.lock
Due: none

chore: release @jsamr/counter-style@1.0.0
  packages/counter-style/CHANGELOG.md
  packages/counter-style/package.json
Due: counter-style

chore: fix CHANGELOG
  packages/counter-style/CHANGELOG.md
Due: counter-style

chore: release @jsamr/react-native-li@1.0.0
  packages/react-native-li/CHANGELOG.md
  packages/react-native-li/package.json
Due: react-native-li

fix: wrong homepage link
  packages/counter-style/package.json
  packages/react-native-li/package.json
Due: counter-style, react-native-li

docs(counter-style): rectify lib size
  packages/counter-style/README.md
Due: counter-style

docs: enhance README
  packages/counter-style/README.md
  packages/react-native-li/README.md
Due: counter-style, react-native-li

chore: release @jsamr/counter-style@1.0.1
  packages/counter-style/CHANGELOG.md
  packages/counter-style/package.json
Due: counter-style

chore: release @jsamr/react-native-li@1.0.1
  packages/react-native-li/CHANGELOG.md
  packages/react-native-li/package.json
Due: react-native-li

docs: add disc RTL example in README
  packages/react-native-li/README.md
  packages/react-native-li/screenshots/disc-rtl.png
Due: react-native-li

docs: enhance README
  packages/react-native-li/README.md
Due: react-native-li

chore: remove example-path package
  packages/example-path/.eslintignore
  packages/example-path/.gitignore
  packages/example-path/.release-it.js
  packages/example-path/CHANGELOG.md
  packages/example-path/README.md
  packages/example-path/api-extractor.json
  packages/example-path/babel.config.js
  packages/example-path/docs/example-npm.hello.md
  packages/example-path/docs/example-npm.md
  packages/example-path/docs/index.md
  packages/example-path/etc/.gitignore
  packages/example-path/jest.config.js
  packages/example-path/package.json
  packages/example-path/src/__tests__/dummy.test.ts
  packages/example-path/src/index.ts
  packages/example-path/tsconfig.build.json
  packages/example-path/tsconfig.json
  yarn.lock
Due: none

docs(react-native-li): enhance documentation coverage
  packages/react-native-li/docs/react-native-li.markedlist.md
  packages/react-native-li/docs/react-native-li.markedlistitem.md
  packages/react-native-li/docs/react-native-li.markedlistprops.md
  packages/react-native-li/docs/react-native-li.markedlistprops.rendermarker.md
  packages/react-native-li/docs/react-native-li.markerbox.md
  packages/react-native-li/docs/react-native-li.markerboxprops.markerstring.md
  packages/react-native-li/docs/react-native-li.markerboxprops.maxnumofcodepoints.md
  packages/react-native-li/docs/react-native-li.markerboxprops.md
  packages/react-native-li/docs/react-native-li.markerboxprops.style.md
  packages/react-native-li/docs/react-native-li.md
  packages/react-native-li/docs/react-native-li.rendermarkerboxprops.markerstring.md
  packages/react-native-li/docs/react-native-li.rendermarkerboxprops.maxnumofcodepoints.md
  packages/react-native-li/docs/react-native-li.rendermarkerboxprops.md
  packages/react-native-li/docs/react-native-li.rendermarkerboxprops.style.md
  packages/react-native-li/etc/react-native-li.api.md
  packages/react-native-li/src/MarkedList.tsx
  packages/react-native-li/src/MarkedListItem.tsx
  packages/react-native-li/src/MarkerBox.tsx
  packages/react-native-li/src/index.ts
  packages/react-native-li/src/shared-types.ts
Due: react-native-li

docs: fix typo
  packages/react-native-li/docs/react-native-li.md
  packages/react-native-li/docs/react-native-li.usemarkedlist.md
  packages/react-native-li/src/useMarkedList.ts
Due: react-native-li

docs(react-native-li): enhance documentation coverage
  packages/react-native-li/docs/react-native-li.markedlistitemprops.md
  packages/react-native-li/docs/react-native-li.markerboxprops.markerstring.md
  packages/react-native-li/docs/react-native-li.markerboxprops.maxnumofcodepoints.md
  packages/react-native-li/docs/react-native-li.markerboxprops.md
  packages/react-native-li/docs/react-native-li.markerboxprops.style.md
  packages/react-native-li/docs/react-native-li.md
  packages/react-native-li/etc/react-native-li.api.md
  packages/react-native-li/src/MarkedListItem.tsx
  packages/react-native-li/src/shared-types.ts
Due: react-native-li

docs(react-native-li): enhance README
  packages/react-native-li/README.md
Due: react-native-li

fix(counter-style): remove support for functional formatters in types
  packages/counter-style/docs/counter-style.counterstylerenderer.withfallback.md
  packages/counter-style/docs/counter-style.counterstylerenderer.withrange.md
  packages/counter-style/etc/counter-style.api.md
  packages/counter-style/src/CounterStyle.ts
Due: counter-style

test(counter-style): cover case of incomplete additive renderers
  packages/counter-style/src/__tests__/CounterStyleRenderer.test.ts
Due: counter-style

test(counter-style): better rtl coverage
  packages/counter-style/src/__tests__/CounterStyleRenderer.test.ts
Due: counter-style

test(counter-style): coverage for default fallback
  packages/counter-style/src/__tests__/CounterStyle.test.ts
  packages/counter-style/src/__tests__/CounterStyleRenderer.test.ts
Due: counter-style

refactor(counter-style): extract `FallbackRenderer`
  packages/counter-style/docs/counter-style.basecounterstylerenderer.md
  packages/counter-style/docs/counter-style.counterstylerenderer.maxcounterleninrange.md
  packages/counter-style/docs/counter-style.counterstylerenderer.maxmarkerleninrange.md
  packages/counter-style/docs/counter-style.counterstylerenderer.md
  packages/counter-style/docs/counter-style.counterstylerenderer.rendercounter.md
  packages/counter-style/docs/counter-style.counterstylerenderer.rendermarker.md
  packages/counter-style/docs/counter-style.counterstylerenderer.withfallback.md
  packages/counter-style/docs/counter-style.counterstylerenderer.withrange.md
  packages/counter-style/docs/counter-style.fallbackrenderer.md
  packages/counter-style/docs/counter-style.md
  packages/counter-style/etc/counter-style.api.md
  packages/counter-style/src/CounterStyle.ts
  packages/counter-style/src/__tests__/CounterStyle.test.ts
  packages/counter-style/src/getAlphanumFromUnicodeRange.ts
Due: counter-style

refactor(counter-style): remove "dead" code branches
  packages/counter-style/src/CounterStyle.ts
  packages/counter-style/src/__tests__/CounterStyleRenderer.test.ts
Due: counter-style

Path conditions:
  counter-style: any of: packages/counter-style/
  react-native-li: any of: packages/react-native-li/
