Repository jsamr/react-native-li: changes, and which Codecov flags are due for each by the changed paths.
All: counter-style, react-native-li

refactor(counter-style): extract modules for legibility
  packages/counter-style/src/CounterStyle.ts
  packages/counter-style/src/index.tsx
  packages/counter-style/src/internal-types.ts
  packages/counter-style/src/makeCSEngine.ts
  packages/counter-style/src/makeCSRenderer.ts
  packages/counter-style/src/public-types.ts
  packages/counter-style/src/utils/codepointLength.ts
  packages/counter-style/src/utils/codeunitLength.ts
  packages/counter-style/src/utils/reverseString.ts
Due: counter-style

test(counter-style): enhance test coverage
  packages/counter-style/docs/counter-style.counterstylerenderer.md
  packages/counter-style/etc/counter-style.api.md
  packages/counter-style/src/__tests__/codepointLength.test.ts
Due: counter-style

chore: release @jsamr/counter-style@1.0.2
  packages/counter-style/CHANGELOG.md
  packages/counter-style/package.json
Due: counter-style

refactor(counter-style): remove StrictCounterFormatter
  packages/counter-style/docs/counter-style.counterstylerenderer.md
  packages/counter-style/docs/counter-style.counterstylerenderer.withfallback.md
  packages/counter-style/docs/counter-style.counterstylerenderer.withnegative.md
  packages/counter-style/docs/counter-style.counterstylerenderer.withpadleft.md
  packages/counter-style/docs/counter-style.counterstylerenderer.withpadright.md
  packages/counter-style/docs/counter-style.counterstylerenderer.withprefix.md
  packages/counter-style/docs/counter-style.counterstylerenderer.withrange.md
  packages/counter-style/docs/counter-style.counterstylerenderer.withrtl.md
  packages/counter-style/docs/counter-style.counterstylerenderer.withsuffix.md
  packages/counter-style/docs/counter-style.counterstylestatic.additive.md
  packages/counter-style/docs/counter-style.counterstylestatic.alphabetic.md
  packages/counter-style/docs/counter-style.counterstylestatic.alphabeticfromunicoderange.md
  packages/counter-style/docs/counter-style.counterstylestatic.cyclic.md
  packages/counter-style/docs/counter-style.counterstylestatic.fixed.md
  packages/counter-style/docs/counter-style.counterstylestatic.md
  packages/counter-style/docs/counter-style.counterstylestatic.numeric.md
  packages/counter-style/docs/counter-style.counterstylestatic.numericfromunicoderange.md
  packages/counter-style/docs/counter-style.counterstylestatic.raw.md
  packages/counter-style/docs/counter-style.counterstylestatic.symbolic.md
  packages/counter-style/docs/counter-style.losecounterformatter.md
  packages/counter-style/docs/counter-style.md
  packages/counter-style/docs/counter-style.rtloptions.md
  packages/counter-style/docs/counter-style.strictcounterformatter.md
  packages/counter-style/etc/counter-style.api.md
  packages/counter-style/src/CounterStyle.ts
  packages/counter-style/src/public-types.ts
Due: counter-style

refactor(counter-style): rename LoseCounterFormatter to InitialCounterFormatter
  packages/counter-style/docs/counter-style.counterstylestatic.md
  packages/counter-style/docs/counter-style.counterstylestatic.raw.md
  packages/counter-style/docs/counter-style.initialcounterformatter.md
  packages/counter-style/docs/counter-style.md
  packages/counter-style/etc/counter-style.api.md
  packages/counter-style/src/CounterStyle.ts
  packages/counter-style/src/internal-types.ts
  packages/counter-style/src/makeCSEngine.ts
  packages/counter-style/src/public-types.ts
Due: counter-style

chore: release @jsamr/counter-style@1.0.3
  packages/counter-style/CHANGELOG.md
  packages/counter-style/package.json
Due: counter-style

chore: release @jsamr/react-native-li@1.0.2
  packages/react-native-li/CHANGELOG.md
  packages/react-native-li/package.json
Due: react-native-li

docs(react-native-li): crop screenshots for best fit
  packages/react-native-li/screenshots/arabic-indic-rtl.png
  packages/react-native-li/screenshots/disc-ltr.png
  packages/react-native-li/screenshots/disc-rtl.png
  packages/react-native-li/screenshots/lower-roman-ltr.png
Due: react-native-li

docs(react-native-li): crop images vertically for best fit
  packages/react-native-li/screenshots/arabic-indic-rtl.png
  packages/react-native-li/screenshots/disc-ltr.png
  packages/react-native-li/screenshots/disc-rtl.png
  packages/react-native-li/screenshots/lower-roman-ltr.png
Due: react-native-li

docs(react-native-li): use details tags for examples
  packages/react-native-li/README.md
  packages/react-native-li/screenshots/arabic-indic-rtl.png
  packages/react-native-li/screenshots/disc-ltr.png
  packages/react-native-li/screenshots/disc-rtl.png
  packages/react-native-li/screenshots/lower-roman-ltr.png
Due: react-native-li

chore: release @jsamr/react-native-li@1.0.3
  packages/react-native-li/CHANGELOG.md
  packages/react-native-li/package.json
Due: react-native-li

fix(react-native-li): account for startIndex when cp maxNumOfCodepoints
  packages/react-native-li/package.json
  packages/react-native-li/src/__tests__/useMarkedList.test.ts
  packages/react-native-li/src/useMarkedList.ts
  yarn.lock
Due: react-native-li

fix(counter-style): handle decreasing ranges properly
  packages/counter-style/src/__tests__/CounterStyleRenderer.test.ts
  packages/counter-style/src/makeCSRenderer.ts
Due: counter-style

test(react-native-li): enhance test coverage
  packages/react-native-li/src/MarkedListItem.tsx
  packages/react-native-li/src/MarkerBox.tsx
  packages/react-native-li/src/__tests__/MarkedList.test.tsx
  packages/react-native-li/src/__tests__/useMarkedList.test.ts
  packages/react-native-li/src/useMarkedList.ts
Due: react-native-li

chore: release @jsamr/counter-style@1.0.4
  packages/counter-style/CHANGELOG.md
  packages/counter-style/package.json
Due: counter-style

chore: release @jsamr/react-native-li@1.0.4
  packages/react-native-li/CHANGELOG.md
  packages/react-native-li/package.json
Due: react-native-li

feat:(counter-style): new renderPrefix and renderSuffix methods
  packages/counter-style/docs/counter-style.counterstylerenderer.md
  packages/counter-style/docs/counter-style.counterstylerenderer.renderprefix.md
  packages/counter-style/docs/counter-style.counterstylerenderer.rendersuffix.md
  packages/counter-style/etc/counter-style.api.md
  packages/counter-style/src/makeCSRenderer.ts
  packages/counter-style/src/public-types.ts
Due: counter-style

feat(counter-style): stricter additive range extrapolation
  packages/counter-style/src/CounterStyle.ts
Due: counter-style

chore: release @jsamr/counter-style@1.1.0
  packages/counter-style/CHANGELOG.md
  packages/counter-style/package.json
Due: counter-style

test(counter-style): extend coverage
  packages/counter-style/src/__tests__/CounterStyle.test.ts
  packages/counter-style/src/__tests__/CounterStyleRenderer.test.ts
Due: counter-style

fix(counter-style): additive systems with only one symbol mapped to 0
  packages/counter-style/src/CounterStyle.ts
  packages/counter-style/src/__tests__/CounterStyle.test.ts
Due: counter-style

chore: release @jsamr/counter-style@1.1.1
  packages/counter-style/CHANGELOG.md
  packages/counter-style/package.json
Due: counter-style

fix(react-native-li): lock @jsamr/counter-style peer dependency to v1.x
  packages/react-native-li/package.json
Due: react-native-li

chore: release @jsamr/react-native-li@1.0.5
  packages/react-native-li/CHANGELOG.md
  packages/react-native-li/package.json
Due: react-native-li

chore: sync yarn.lock
  yarn.lock
Due: none

feat(counter-style): pass default computer to withMaxLenComputer callback
  packages/counter-style/docs/counter-style.counterstylerenderer.withmaxlengthcomputer.md
  packages/counter-style/src/makeCSRenderer.ts
  packages/counter-style/src/public-types.ts
Due: counter-style

perf(counter-style): optimized cyclic maxLenComputer
  packages/counter-style/etc/counter-style.api.md
  packages/counter-style/src/CounterStyle.ts
  packages/counter-style/src/__tests__/CounterStyle.test.ts
Due: counter-style

perf(counter-style): optimize symbolic maxLenComputer
  packages/counter-style/package.json
  packages/counter-style/src/CounterStyle.ts
  packages/counter-style/src/__tests__/CounterStyle.test.ts
Due: counter-style

perf(counter-style): optimize fixed maxCounterLen computer
  packages/counter-style/package.json
  packages/counter-style/src/CounterStyle.ts
  packages/counter-style/src/__tests__/CounterStyle.test.ts
Due: counter-style

test(counter-style): enhance coverage of additive maxLenInRange
  packages/counter-style/src/__tests__/CounterStyle.test.ts
Due: counter-style

refactor(counter-style): remove second "maxLenComputer" arg of raw
  packages/counter-style/docs/counter-style.counterstylestatic.md
  packages/counter-style/docs/counter-style.counterstylestatic.raw.md
  packages/counter-style/etc/counter-style.api.md
  packages/counter-style/src/CounterStyle.ts
  packages/counter-style/src/presets/decimal.ts
  packages/counter-style/src/public-types.ts
Due: counter-style

refactor(counter-style): extract helper for numeric and alphabetic
  packages/counter-style/src/CounterStyle.ts
Due: counter-style

refactor(counter-style): simplify additive implementation
  packages/counter-style/src/CounterStyle.ts
  packages/counter-style/src/__tests__/CounterStyle.test.ts
  packages/counter-style/src/__tests__/japaneseFormal.test.ts
Due: counter-style

docs(counter-style): enhance README
  packages/counter-style/README.md
Due: counter-style

feat(react-native-li): support @jsamr/counter-style v2
  packages/react-native-li/package.json
Due: react-native-li

chore: release @jsamr/counter-style@2.0.0
  packages/counter-style/CHANGELOG.md
  packages/counter-style/package.json
Due: counter-style

fix(react-native-li): restrict versions of @jsamr/counter-style
  packages/react-native-li/package.json
  yarn.lock
Due: react-native-li

chore: release @jsamr/react-native-li@1.1.0
  packages/react-native-li/CHANGELOG.md
  packages/react-native-li/package.json
Due: react-native-li

feat(react-native-li): enrich API of `renderMarker` and `MarkerBox`
  packages/react-native-li/docs/react-native-li.markedlistitem.md
  packages/react-native-li/docs/react-native-li.markedlistitemprops.md
  packages/react-native-li/docs/react-native-li.markedlistprops.markerboxstyle.md
  packages/react-native-li/docs/react-native-li.markedlistprops.markerstyle.md
  packages/react-native-li/docs/react-native-li.markedlistprops.markertextstyle.md
  packages/react-native-li/docs/react-native-li.markedlistprops.md
  packages/react-native-li/docs/react-native-li.markerbox.md
  packages/react-native-li/docs/react-native-li.markerboxprops.counterindex.md
  packages/react-native-li/docs/react-native-li.markerboxprops.counterrenderer.md
  packages/react-native-li/docs/react-native-li.markerboxprops.markerstring.md
  packages/react-native-li/docs/react-native-li.markerboxprops.markertextstyle.md
  packages/react-native-li/docs/react-native-li.markerboxprops.markertextwidth.md
  packages/react-native-li/docs/react-native-li.markerboxprops.md
  packages/react-native-li/docs/react-native-li.md
  packages/react-native-li/docs/react-native-li.usemarkedlist.md
  packages/react-native-li/etc/react-native-li.api.md
  packages/react-native-li/src/MarkedListItem.tsx
  packages/react-native-li/src/shared-types.ts
Due: react-native-li

Path conditions:
  counter-style: any of: packages/counter-style/
  react-native-li: any of: packages/react-native-li/
